---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import '../../styles/global.css';
import EmailForm from '../../components/EmailForm.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />		
	</head>
	<body>
		<Header />
		<main>
			<h1>Email : </h1>
			<h1 class="text-center text-3xl xl:text-5xl mb-40">me@sirlilpanda.studio</h1>
			
			  <EmailForm />

		</main>
		<Footer />
	</body>
</html>
<style>
	textarea {
		height: 300px;
	}

	textarea,
	input {
		grid-column: 1;
		padding-right: 5px;
		padding-left: 10px;
		padding-top: 2.5px;
		padding-bottom: 2.5px;
		background-color: #27272a;
		border-radius: 10px;
		border-style: solid;
		border-color: var(--text-colour);
		border: thick;
	}
	textarea,
	input.active {
	}

	.input_div {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.email_form {
		display: flex;
		flex-direction: column;
	}

	.submit_button {
		margin-top: 10px;
		padding: 10px;
	}

	.submit_button:hover {
		text-decoration: underline;
	}

	input {
		width: max-content;
		float: right;
	}

	.email_label:has(+ .email_input:invalid) {
		color: var(--title-colour);
	}

	.email_label:has(~ .email_input:invalid) {
		color: var(--title-colour);
	}

	.email_label:has(~ .email_input:valid) {
		color: rgb(137, 251, 137);
	}

	.email_label:has(~ .email_input:invalid)::after {
		content: "email invaild";
		padding-left: 40px;
	}

	.email_label:has(~ .email_input:valid)::after {
		content: "email vaild";
		padding-left: 40px;
	}


</style>