---

---

<form onsubmit="{handleSubmit}">
    <div>
        <input type="text" required name="name" placeholder="Name" />
    </div>
    <div>
        <input type="email" required name="email" placeholder="Email" />
    </div>
    <div>
        <textarea required name="message" placeholder="Message"></textarea>
    </div>
    <div class="color">
        <button type="submit" >Send</button>
    </div>
</form>

<script is:inline>

function handleSubmit(e){


    }
</script>